<tr id="{{ get_id(record) }}">
  <td class="text-secondary">{{ record.id }}</td>
  <td class="text-secondary">{{ record.name }}</td>
  <td class="text-secondary">{{ record.description }}</td>
  <td>
    <button
      class="btn btn-sm btn-outline-primary"
      hx-post="{{ request.url_for('update', id=record.id) }}"
      hx-swap="none"
    >Update</button>
  </td>
  <td>
    <button
      class="btn btn-sm btn-outline-danger"
      hx-post="{{ request.url_for('delete', id=record.id) }}"
      hx-swap="none"
    >Delete</button>
  </td>
</tr>